*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(0, 255, 225); /* Negro con una opacidad del 50% */  
}
body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://i.ytimg.com/vi/dD8WfixA7xo/maxresdefault.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6.5em;
  width: 100%;
  background: #ffffffbe;
}
header .logo{
  background-color: #fff;
  height: 4em;
  width: 20%;

}
header .logo img{
  height: 100%;
  width: auto;
  background: #000;
  cursor: pointer;
}

  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #00000078;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #000000;
    margin-top: 5px;
  }
    
  #listaPeliculas img {
    margin: 10px;
    max-height: 250px;
  }
  p {
    color: #0004ff75;
  }
  .form-wrapper {
    margin: 0 0 15px;
  }
  
  .form-wrapper button:hover {
    opacity: 0.8;
  }
  