*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(0, 255, 225); /* Negro con una opacidad del 50% */  
}
body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6.5em;
  width: 100%;
  background: #ffffff;
}
header .logo{
  height: 6em;
}
header .logo img{
  justify-content: start;
  height: 100%;
  width: auto;
  background: #000;
  cursor: pointer;
}
.contenido{
  display: flex;
  height: 100px;
  align-items: flex-end;

}
.contenido nav{
  width: 30em;
  height: auto;
  background-color: #02ffbbc0;
}
nav ul {
  list-style: none; /* Elimina los puntos de la lista */
  display: flex; /* Cambia el comportamiento a un diseño de caja flexible */
  justify-content: space-around; /* Alinea los elementos horizontalmente */
  padding: 0; /* Elimina el relleno predeterminado de la lista */
}

nav li {
  margin: 0; /* Asegúrate de que no haya ningún margen */
}

nav a {
  text-decoration: none; /* Elimina la subraya predeterminada de los enlaces */
  color: #000;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
}
main{
  height: 75em;
  background-image: url("https://i.ytimg.com/vi/dD8WfixA7xo/maxresdefault.jpg");
  background-size: cover;
}